/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.section-discription {
    color: #757575;
    text-align: center;
    font-size: 18px;


}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}


/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;


}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}

.banner .profile_picture {
    width: 500px;

}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-tittle {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

/* main section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section style */


.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 20px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skills related style */
#what-i-do-discription {
    padding: 30px 150px;
}

.skills-container {
    display: flex;

    gap: 24px;

}

.skill-discription {
    color: #757575;
}

/* resume section style */
.resume-column-title {

    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-discription .resume-item-institue {
    color: #757575;
}
.resume-item-institue{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700 px;
   margin-bottom: 10px;

}
.resume-container hr{
    margin: 30px ;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.download{
    text-align: center;
    margin: 50px;
    margin-top: 100px;
}
/* footer style */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
}
    

    
